<div class="bg"></div>

<style>
  .bg {
    background-image: url('https://jeremyfrank-dev-assets.s3.us-east-1.amazonaws.com/photo-1519681393784-d120267933ba.avif');
    background-size: cover;
    filter: brightness(0.5);
    inset: 0;
    position: absolute;
  }
</style>
