---
import { type CollectionEntry, getCollection } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'

export async function getStaticPaths() {
  const craftEntries = await getCollection('craft')
  return craftEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

type Props = {
  entry: CollectionEntry<'craft'>
}

const { entry } = Astro.props
const { data, render } = entry
const { Content } = await render()
const ogImage = data.socialImage || data.preview.poster || data.preview.src
---

<BaseLayout title={data.title} image={ogImage}>
  <h1 class="mt-8">
    {data.title}
  </h1>

  <div class="flow prose subgrid gc-full my-8">
    <Content />
  </div>

  {
    data.componentUrl && (
      <div class="flex justify-center gap-8 py-8">
        {data.componentUrl && (
          <a href={data.componentUrl}>View Astro Component →</a>
        )}
      </div>
    )
  }
</BaseLayout>
