@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Calluna';
    src: url('/fonts/Calluna-Regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Calluna Sans';
    src: url('/fonts/CallunaSansRegular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  html {
    @apply bg-zinc-50;
    @apply dark:bg-zinc-800;
  }
  body {
    @apply font-light;
    @apply bg-gradient-to-b;
    @apply from-zinc-50 to-zinc-100 text-zinc-900;
    @apply dark:from-zinc-800 dark:to-zinc-900 dark:text-zinc-200;
  }
  header {
    position: sticky;
  }
  h1 {
    @apply font-serif;
    @apply text-3xl sm:text-5xl;
  }
  h2 {
    @apply font-serif;
    @apply text-2xl sm:text-4xl;
  }
  hr {
    @apply dark:border-zinc-500;
  }
  a {
    @apply focus-visible:outline-none focus-visible:ring focus-visible:ring-blue-500;
    @apply focus-visible:ring-offset-zinc-100 dark:focus-visible:ring-offset-zinc-900;
    text-decoration: underline;
  }
  picture {
    display: block;
  }
}

@layer components {
  /* Temp fix for syntax highlighting */
  .language-id {
    display: none;
  }
}
