<html>
  <head>
    <meta charset="utf-8">
    <title>jeremyfrank.dev</title>
    <style global>
      @import "../styles/global.css";
    </style>
  </head>
  <body class="flex justify-center items-center h-screen">
    <span>jeremyfrank.dev</span>
  </body>
</html>