<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>jeremyfrank.dev</title>
    <style global>
      @import "../styles/global.css";
    </style>
  </head>
  <body class="flex justify-center items-center h-screen">
    <img src="/images/jf-logomark.svg" width="150" height="150" class="dark:invert" alt="">
    <span class="sr-only">jeremyfrank.dev</span>
  </body>
</html>