---
import type { CollectionEntry } from 'astro:content'

type Article = CollectionEntry<'articles'>

type Props = {
  articles: Article[]
}

const { articles } = Astro.props
---

<ul>
  {
    articles.map((article) => (
      <li>
        <a href={`/articles/${article.slug}`}>{article.data.title}</a>
      </li>
    ))
  }
</ul>
