---
import ArticlesList from '../components/ArticlesList.astro'
import { articles } from '../data/articles.js'

const latestArticles = articles.slice(0, 5)
---

<div
  class:list={[
    'prose md:prose-lg lg:prose-xl',
    'prose-zinc dark:prose-invert',
    'prose-ul:pl-[1em]',
  ]}
>
  <ArticlesList articles={latestArticles} />
  <a href="/articles">More Articles →</a>
</div>
