---
import type { CollectionEntry } from 'astro:content'
import ArticlesList from './ArticlesList.astro'

type Article = CollectionEntry<'articles'>

type Props = {
  articles: Article[]
}

const { articles } = Astro.props
---

<div class="flow prose">
  <ArticlesList articles={articles} dates={false} />
  <p><a href="/articles">More Articles →</a></p>
</div>
