---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from './FormattedDate.astro'

type Article = CollectionEntry<'articles'>

type Props = {
  articles: Article[]
  dates?: boolean
}

const { articles, dates = true } = Astro.props
---

<ul>
  {
    articles.map((article) => (
      <li>
        <a href={`/articles/${article.id}`}>{article.data.title}</a>
        {dates && (
          <span class="block">
            <FormattedDate date={article.data.date} />
          </span>
        )}
      </li>
    ))
  }
</ul>
