---
import { clients } from '@/data/clients.js'

const allClients = clients.sort((a, b) => {
  var nameA = a.name.toUpperCase()
  var nameB = b.name.toUpperCase()
  return nameA < nameB ? -1 : nameA > nameB ? 1 : 0
})

const featuredClients = allClients.filter((item) => item.image && item.featured)
const remainingClients = allClients.filter((item) => !item.featured)
---

<ul class="logo-grid">
  {
    featuredClients.map((client) => (
      <li>
        <img src={`/images/${client.image}`} loading="lazy" alt={client.name} />
      </li>
    ))
  }
</ul>

<details>
  <summary>More</summary>

  <ul class="client-list">
    {remainingClients.map((client) => <li>{client.name}</li>)}
  </ul>
</details>

<style>
  .logo-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;

    @media (min-width: 48em) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @media (prefers-color-scheme: dark) {
      filter: invert(1) grayscale(100%);
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
      text-align: center;
    }

    img {
      max-width: 75%;
      max-height: 30px;
    }
  }

  summary {
    cursor: pointer;
    user-select: none;
    margin-inline: auto;
    padding: 0.5rem;
    width: 10ch;
    text-align: center;
  }

  .client-list {
    columns: auto;
    column-width: 15ch;
    column-gap: 2rem;
    font-size: 0.875rem;
    line-height: 1.2;
    margin-top: 1rem;

    li {
      display: flex;
      padding-block: 0.25rem;
    }
  }
</style>
