---
interface Props {
  compact: boolean
  forceDark: boolean
}

const { compact = false, forceDark = false } = Astro.props
const bgColorLightMode = forceDark
  ? '#181818;'
  : 'color-mix(in srgb, var(--text-color), transparent 97%);'
const borderColorLightMode = forceDark ? '#181818' : 'var(--bg-color-accent)'
---

<div
  class:list={[
    'preview',
    {
      compact: compact,
      'gc-feature': !compact,
      'gc-popout': compact,
    },
  ]}
>
  <slot />
</div>

<style
  define:vars={{
    bgColorLightMode,
    borderColorLightMode,
  }}
>
  .preview {
    background: var(--bgColorLightMode);
    border: 1px solid var(--borderColorLightMode);
    border-radius: var(--radius);
    display: grid;
    place-items: center;
    overflow: hidden;
    position: relative;

    @media (prefers-color-scheme: dark) {
      background: color-mix(in srgb, var(--text-color), transparent 97%);
      border-color: var(--bg-color-accent);
    }

    &.compact {
      padding: 10% 0;
    }

    &:not(.compact) {
      aspect-ratio: 1;

      @media screen and (min-width: 30em) {
        aspect-ratio: 3 / 2;
      }

      @media screen and (min-width: 40em) {
        aspect-ratio: 2 / 1;
      }
    }
  }
</style>
