---
import { social } from '@/data/social.js'
---

<footer class="layout flow">
  <ul>
    {
      social.map((link) => (
        <li>
          <a href={link.url} aria-label={link.name}>
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>

  <p>
    © {new Date().getFullYear()} Jeremy Frank — Built with
    <a href="https://astro.build/">Astro</a> 🚀
  </p>
</footer>

<style>
  footer {
    padding: var(--space-l) 0;
    text-align: center;

    ul {
      align-self: center;
      border-top: 1px solid var(--bg-color-accent);
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      padding-top: var(--space-l);
      font-size: var(--step--1);

      a {
        display: block;
        padding: 0.125rem;
      }
    }

    p {
      font-size: var(--step--1);
    }
  }
</style>
