<footer class="layout">
  <p>
    © {new Date().getFullYear()} Jeremy Frank — Built with
    <a href="https://astro.build/">Astro</a>
  </p>
</footer>

<style>
  footer {
    @apply px-5 py-10 text-center;

    p {
      @apply border-t dark:border-zinc-500 dark:text-zinc-500 pt-5;
    }
  }
</style>
