<div
  class="flex flex-col gap-5 sm:gap-8 min-h-max font-serif max-w-4xl leading-tight"
>
  <h1>Hello, I’m Jeremy</h1>
  <p>
    Creative and technical all-rounder, daily bridging the gap between design
    and engineering.
  </p>
  <p>
    Working with teams at <a
      href="https://www.viget.com/"
      class="font-bold relative">Viget</a
    > to build cohesive and intuitive, highly performant and accessible,
    customer focused user interfaces, and providing technical leadership and
    mentorship.
  </p>
</div>

<style>
  h1 {
    font-weight: bold;
  }
  p {
    font-size: clamp(1.25rem, 3.25vw, 1.75rem);
    line-height: 1.2;
  }
</style>
