<div class="flow">
  <h1>
    <span>Jeremy Frank.</span>
    Design-driven developer, bridging the gap between design and engineering.
  </h1>
  <p>
    Working with teams to prototype future experiences, build resiliant design
    systems, and create intuitive user interfaces and impactful experiences for
    the web. Elevating fidelity with a focus on craft and quality.
  </p>
</div>

<style>
  h1 {
    color: var(--text-color);
    font-size: var(--step-2);
    line-height: 1.2;
    text-wrap: pretty;

    span {
      color: var(--text-color-bright);
    }
  }
</style>
