<div class="flow">
  <h1>
    <span>Jeremy Frank.</span>
    Design engineer, focused on crafting high-quality web experiences.
  </h1>
  <p>
    Working at the intersection of design and engineering, I help teams create
    impactful experiences for the web, elevating quality with a focus on craft
    and attention to detail. From UI that looks good and feels right, to
    animation and motion that is intentional and thoughtful, to code that is
    performant and accessible.
  </p>
</div>

<style>
  h1 {
    color: var(--text-color);
    font-size: var(--step-2);
    line-height: 1.28; /* 32px at max size */
    text-wrap: pretty;

    span {
      color: var(--text-color-bright);
    }
  }
</style>
