<div
  class="gc-popout flex flex-col gap-5 sm:gap-8 min-h-max font-serif max-w-4xl leading-tight text-xl sm:text-3xl"
>
  <p>Hello, I’m Jeremy.</p>
  <p>
    I'm a creative and technical all-rounder, bridging the gap between design
    and engineering.
  </p>
  <p>
    Working with teams at <a
      href="https://www.viget.com/"
      class="font-bold relative">Viget</a
    > to build cohesive and intuitive, highly performant and accessible user
    interfaces, while providing technical leadership and mentorship.
  </p>
</div>
