<div class="flex flex-col gap-5 min-h-max font-serif leading-tight">
  <h1>Hello, I’m Jeremy</h1>
  <p>
    Creative and technical all-rounder, daily bridging the gap between design
    and engineering.
  </p>
  <p>
    Working with teams at <a
      href="https://www.viget.com/"
      class="font-bold relative">Viget</a
    > to build cohesive and intuitive, highly performant and accessible, customer
    focused user interfaces, and providing technical leadership and mentorship.
  </p>
</div>

<style>
  p {
    font-size: var(--step-1);
    line-height: 1.2;
  }
</style>
