<div class="flow">
  <h1>
    <span>Jeremy Frank.</span>
    Design-driven front-end developer, bridging the gap between design and engineering.
  </h1>
  <p>
    Creative and technical all-rounder, team leader and mentor, daily crafting
    the details and guiding team initiatives. Working with teams at <a
      href="https://www.viget.com/">Viget</a
    > to build intuitive user interfaces and impactful experiences for web and product.
  </p>
</div>

<style>
  h1 {
    color: var(--text-color);
    font-size: var(--step-2);
    line-height: 1.2;
    text-wrap: pretty;

    span {
      color: var(--text-color-bright);
    }
  }
</style>
