---
type Pen = {
  id: string
  title: string
  alternateImage?: string
}

type Props = {
  item: Pen
  index: number
}

const { item, index }: Props = Astro.props
---

<li class="item">
  <a href={`https://codepen.io/jeremyfrank/full/${item.id}`}>
    <span class="sr-only">{item.title}</span>
    <img
      src={`https://shots.codepen.io/jeremyfrank/pen/${
        item.alternateImage ?? item.id
      }-800.jpg`}
      width="400"
      height="225"
      loading={index > 2 ? 'lazy' : 'eager'}
      alt=""
    />
  </a>
</li>

<style>
  .item {
    flex-shrink: 0;
    inline-size: min(300px + 2.25vw, 100%);
    position: relative;
    scroll-snap-align: center;
  }

  a {
    border-radius: var(--radius);
    background: var(--bg-color-accent);
    display: block;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0) scale(1);
    transition-duration: 200ms;

    &:hover {
      transform: translate3d(0, 0, 0) scale(1.03);
    }

    &:focus-visible {
      @apply ring-offset-4;
    }
  }

  img {
    border-radius: inherit;
  }
</style>
