---
import '@fontsource-variable/newsreader'
import '@/styles/global.css'
import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'

const { ...head } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead {...head} />
  </head>
  <body>
    <Header />

    <main class="layout">
      <slot />
    </main>

    <Footer />
  </body>
</html>
