---
import '../styles/global.css'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const defaultTitle = 'Jeremy Frank'
const title = [Astro.props.title, defaultTitle].filter(Boolean).join(' – ')
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />
    <meta itemprop="name" content={title} />
    <meta property="og:title" content={title} />
    <link
      rel="preload"
      href="/fonts/Calluna-Regular-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
  </head>
  <body>
    <Header />

    <main class="layout">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --radius: 0.25rem;
    --color-bg: #fafafa;
    --color-bg-accent: #dfdfdf;
    --color-text: #181818;
    --color-headings: #181818;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-bg: #181818;
      --color-bg-accent: #393939;
      --color-text: #dfdfdf;
      --color-headings: #fff;
    }
  }
</style>
