---
import '../styles/global.css'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const defaultTitle = 'Jeremy Frank UI Developer'
const { title } = Astro.props
const formattedTitle = title ? `${title} – ${defaultTitle}` : defaultTitle
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{formattedTitle}</title>
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="preload"
      href="/fonts/Calluna-Regular-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
  </head>
  <body>
    <Header />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --radius: 0.25rem;
    --color-bg: #fafafa;
    --color-bg-accent: #d4d4d8;
    --color-text: #18181b;
    --page-gutter: clamp(1rem, 6vw, 3rem);
    --page-max-width: 85ch;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-bg: #18181b;
      --color-bg-accent: #4b5563;
      --color-text: #d4d4d8;
    }
  }

  main {
    --full: minmax(var(--page-gutter), 1fr);
    --content: min(var(--page-max-width), 100% - var(--page-gutter) * 2);
    --popout: minmax(0, 2rem);
    --feature: minmax(0, 4rem);

    display: grid;
    grid-template-columns:
      [full-start] var(--full)
      [feature-start] var(--feature)
      [popout-start] var(--popout)
      [content-start] var(--content) [content-end]
      var(--popout) [popout-end]
      var(--feature) [feature-end]
      var(--full) [full-end];

    > * {
      grid-column: content;
    }

    .prose > pre {
      max-width: calc(100vw - calc(var(--page-gutter) * 2));
    }

    .gc-content {
      grid-column: content;
    }

    .gc-popout {
      grid-column: popout;
    }

    .gc-feature {
      grid-column: feature;
    }

    .gc-full {
      grid-column: full;
    }
  }
</style>
