---
import BaseLayout from '@/layouts/BaseLayout.astro'

const { canonicalURL } = Astro.props

const title = [Astro.props.title, Astro.props.content?.title]
  .filter(Boolean)
  .join()

const byline = [Astro.props.byline, Astro.props.content?.byline]
  .filter(Boolean)
  .join()
---

<BaseLayout title={title} canonicalURL={canonicalURL}>
  <div class="flow prose subgrid gc-full pb-[10vh]">
    <h1>
      {title}
    </h1>

    {byline && <p class="italic leading-tight text-md text-pretty">{byline}</p>}
    <slot />
  </div>
</BaseLayout>
