---
import BaseLayout from '../layouts/BaseLayout.astro'

const title = [Astro.props.title, Astro.props.content?.title]
  .filter(Boolean)
  .join()

const byline = [Astro.props.byline, Astro.props.content?.byline]
  .filter(Boolean)
  .join()
---

<BaseLayout title={title}>
  <div class="px-5 pb-[10vh]">
    <div class="max-w-3xl mx-auto space-y-8">
      <h1 class="text-center">
        {title}
      </h1>

      <p class="max-w-[29rem] mx-auto italic text-center text-lg">
        {byline}
      </p>

      <hr />

      <div
        class:list={[
          'prose prose-zinc md:prose-lg lg:prose-xl dark:prose-invert',
          'mx-auto my-12',
        ]}
      >
        <slot />
      </div>
    </div>
  </div>
</BaseLayout>
