---
import BaseLayout from '../layouts/BaseLayout.astro'

const title = [Astro.props.title, Astro.props.content?.title]
  .filter(Boolean)
  .join()

const byline = [Astro.props.byline, Astro.props.content?.byline]
  .filter(Boolean)
  .join()
---

<BaseLayout title={title}>
  <div class="px-5 pb-[10vh]">
    <div class="max-w-3xl mx-auto space-y-8">
      <h1 class="text-center [text-wrap:pretty]">
        {title}
      </h1>

      <p
        class="max-w-[29rem] mx-auto italic text-center text-lg [text-wrap:pretty]"
      >
        {byline}
      </p>

      <hr />

      <div class="flow prose mx-auto my-8">
        <slot />
      </div>
    </div>
  </div>
</BaseLayout>
