---
import BaseLayout from '../layouts/BaseLayout.astro'

const title = [Astro.props.title, Astro.props.content?.title]
  .filter(Boolean)
  .join()

const byline = [Astro.props.byline, Astro.props.content?.byline]
  .filter(Boolean)
  .join()
---

<BaseLayout title={title}>
  <div class="space-y-8 pb-6">
    <h1 class="text-center [text-wrap:pretty]">
      {title}
    </h1>

    <p
      class="max-w-[29rem] mx-auto italic text-center text-lg [text-wrap:pretty]"
    >
      {byline}
    </p>
  </div>

  <hr />

  <div class="flow prose subgrid gc-full mt-6 pb-[10vh]">
    <slot />
  </div>
</BaseLayout>

<style>
  .outer {
    border: 1px solid red;
  }
</style>
