---
import BaseLayout from '../layouts/BaseLayout.astro'

const { content } = Astro.props
---

<BaseLayout title={content.title}>
  <div class="px-5">
    <div class="max-w-5xl mx-auto">
      <h1>
        {content.title}
      </h1>
      <slot />
    </div>
  </div>
</BaseLayout>
