@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    min-height: 100dvh;
    background: var(--bg-color);
    color: var(--text-color);
  }
  header {
    position: sticky;
  }
  :is(h1, h2, h3, h4, h5, h6) {
    font-family: 'Newsreader Variable', ui-serif, serif;
    color: var(--text-color-bright);
  }
  h1 {
    font-size: var(--step-3);
    line-height: 1.1;
  }
  h2 {
    font-size: var(--step-2);
    line-height: 1.2;
  }
  h3 {
    font-size: var(--step-1);
    line-height: 1.2;
  }
  hr {
    @media (prefers-color-scheme: dark) {
      border-color: rgb(113 113 122);
    }
  }
  a,
  button,
  pre[tabindex] {
    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 3px rgb(59 130 246);
    }
  }
  a {
    text-decoration: underline;
    transition: color 0.2s;

    &:hover {
      color: var(--text-color-bright);
    }
  }
  pre[tabindex] {
    &:focus-visible {
      box-shadow:
        0 0 0 4px rgb(244 244 245),
        0 0 0 7px rgb(59 130 246);

      @media (prefers-color-scheme: dark) {
        box-shadow:
          0 0 0 4px rgb(24 24 27),
          0 0 0 7px rgb(59 130 246);
      }
    }
  }
  code:not(pre *) {
    background-color: var(--bg-color-accent);
    border-radius: 0.15em;
    font-size: 0.85em;
    padding: 0.2em 0.3em;
  }
  blockquote {
    border-inline-start: 5px solid var(--text-color);
    font-style: italic;
    padding-inline-start: 1em;
  }
  blockquote p:first-of-type::before {
    content: open-quote;
  }
  blockquote p:last-of-type::after {
    content: close-quote;
  }
  picture {
    display: block;
  }
}
