@layer base {
  html {
    @apply bg-zinc-50;
    @apply dark:bg-zinc-800;
  }
  body {
    @apply min-h-dvh;
    @apply font-light;
    @apply bg-gradient-to-b;
    @apply from-zinc-50 to-zinc-100 text-zinc-900;
    @apply dark:from-zinc-800 dark:to-zinc-900 dark:text-zinc-200;
  }
  header {
    position: sticky;
  }
  :is(h1, h2, h3, h4, h5, h6) {
    @apply font-serif;
    color: var(--color-headings);
  }
  h1 {
    font-size: var(--step-2);
    line-height: 1;
  }
  h2 {
    font-size: var(--step-2);
  }
  h3 {
    font-size: var(--step-1);
  }
  hr {
    @apply dark:border-zinc-500;
  }
  a,
  pre[tabindex] {
    @apply focus-visible:outline-none focus-visible:ring focus-visible:ring-blue-500;
    @apply focus-visible:ring-offset-zinc-100 dark:focus-visible:ring-offset-zinc-900;
  }
  a {
    text-decoration: underline;
  }
  pre[tabindex] {
    @apply focus-visible:ring-offset-4;
  }
  code:not(pre *) {
    background-color: var(--color-bg-accent);
    border-radius: 0.15em;
    font-size: 0.85em;
    padding: 0.2em 0.3em;
  }
  blockquote {
    border-inline-start: 5px solid var(--color-text);
    font-style: italic;
    padding-inline-start: 1em;
  }
  blockquote p:first-of-type::before {
    content: open-quote;
  }
  blockquote p:last-of-type::after {
    content: close-quote;
  }
  picture {
    display: block;
  }
}
