@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-sans);
  }
  body {
    min-height: 100dvh;
    background: var(--bg-color);
    color: var(--text-color);
  }
  header {
    position: sticky;
  }
  :is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-serif);
    color: var(--text-color-bright);
  }
  h1 {
    font-size: var(--step-3);
    line-height: 1.1;
  }
  h2 {
    font-size: var(--step-2);
    line-height: 1.2;
  }
  h3 {
    font-size: var(--step-1);
    line-height: 1.2;
  }
  hr {
    @media (prefers-color-scheme: dark) {
      border-color: var(--bg-color-accent);
    }
  }
  code,
  kbd,
  samp,
  pre {
    font-family: var(--font-mono);
  }
  a,
  button,
  pre[tabindex],
  video,
  summary {
    &:focus-visible {
      outline: 3px solid var(--focus-color);
    }
  }
  a {
    text-decoration: underline;
    transition: color 0.2s;

    &:hover {
      color: var(--text-color-bright);
    }
  }
  pre[tabindex],
  video {
    outline-offset: 4px;
  }
  code:not(pre *) {
    background-color: var(--bg-color-accent);
    border-radius: 0.15em;
    font-size: 0.85em;
    padding: 0.2em 0.3em;
  }
  blockquote {
    border-inline-start: 5px solid var(--text-color);
    font-style: italic;
    padding-inline-start: 1em;
  }
  blockquote p:first-of-type::before {
    content: open-quote;
  }
  blockquote p:last-of-type::after {
    content: close-quote;
  }
  picture {
    display: block;
  }
}
